.banner {
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    background-color: #C6E4D6;
    padding: 100px 80px;
    border-radius: 24px;
}

.banner-divs {
    gap: 32px;
}

.banner-p1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #747474;
}

.banner-p2 {
    margin-top: 16px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #0E0E0E;
    margin-bottom: 24px
}

button {
    background-color: #006A50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
    background-color: blueviolet;
}