/* section{
    max-width: 75%;
    margin: 0 auto;
} */
body {
    max-width: 80%;
    margin: 0 auto;
    background-color: #F1F1F3;

}

.banner {
    display: flex;
    /* max-width: 75%; */
    /* margin: 0 auto; */
    background-color: #C6E4D6;
    padding: 100px 80px;
    border-radius: 24px;
}

.banner-divs {
    gap: 32px;
}

.banner-p1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    background: linear-gradient(to bottom, rgba(116, 116, 116, 1), rgba(116, 116, 116, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-p2 {
    margin-top: 16px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #0E0E0E;
    margin-bottom: 24px
}

button {
    background-color: #006A50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
    background-color: blueviolet;
}

.vision {
    /* max-width: 75% */
    margin-top: 80px;
    /* background-color: aqua; */
}

.vision-p1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
}

.vision-p2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.vision-img-p1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.vision-img-p2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}

.Read-more-btn {
    background-color: #006A50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 12px;
}

.vision-img-div {
    border-radius: 8px;
    background-color: rgb(255, 208, 127);
    padding: 32px;
    flex: 1;
}

.vision-img {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-bottom: 32px;
}

.yunus-p1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.yunus-p2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.yunus {
    padding: 48px 24px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url('B11A1--assignment-1-main/assets/quote-bg.png');
    background-position: 24px 48px;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-bottom: 80px;
}

.rn-p2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.rn-p1 {
    color: #0E0E0E;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.rn-div2-p1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);

}

.rn-div2-p2 {
    color: rgba(14, 14, 14, 0.7);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.rn-img {
    border-radius: 12px;
    max-width: 75%;
    max-height: 75%;
}

.rn-div2 {
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
}

.rn-divx {
    padding: 0;

}
.rn{
    margin-bottom: 24px;
}
.rn-div3{
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
   
}
.rn2{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    padding: 48px;
    margin-bottom: 80px;
}
.donate-p1{
    color: rgba(14, 14, 14, 1);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}